$font-face-body: 'Raleway', sans-serif;
$font-face-mono: 'Roboto Mono', 'Consolas', monospace;
// $font-face-body: 'Raleway', sans-serif;
// $font-face-mono: 'Roboto Mono', 'Consolas', monospace;

$color-fiery: rgb(255, 72, 0);
$color-hot: rgb(255, 138, 43);
$color-medium: rgb(255, 179, 64);
$color-mild: rgb(255, 234, 114);
$color-bland: rgb(248, 255, 218);

$color-bg: hsl(0, 0%, 10%);
$color-text: white;
$color-text-code: hsl(194, 73%, 74%);
$color-link: white;
$color-link-visited: $color-medium;
$color-link-active: $color-hot;
$color-link-hover: $color-fiery;
$color-scrollbar-fg: hsl(0, 0%, 54%);
$color-scrollbar-bg: hsl(0, 0%, 27%);

* {
  box-sizing: border-box;
}

body {
  margin: 1rem;
  background: $color-bg;
  color: $color-text;
  font-family: $font-face-body;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:link {
    color: $color-link;
}

a:visited {
    color: $color-link-visited;
}

a:active {
    color: $color-link-active;
}

a:hover {
    color: $color-link-hover;
}



pre, code {
  font-family: $font-face-mono;
  color: $color-text-code;
}

.debug {
  border: 1px solid grey;
  height: 400px;
  overflow: scroll;
}

.activity-list {
  list-style-type: none;
}


/* Scrollbars
----------------------------------------------------------------------------- */

* {
  scrollbar-width: thin;
  scrollbar-color: $color-scrollbar-fg $color-scrollbar-bg;
}

*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: $color-scrollbar-bg;
  border-radius: 6px;
}

*::-webkit-scrollbar-thumb {
  background-color: $color-scrollbar-fg;
  border-radius: 6px;
  border: 3px solid $color-scrollbar-bg;
}


// Tapestry
// ----------------------------------------------------------------------------

$tapestry-cell-size: 1.5rem;

.tapestry-legend {
  height: $tapestry-cell-size + 1rem;
  display: flex;
  margin-top: $tapestry-cell-size / 2;
}

.tapestry-window {
  overflow-x: scroll;
}

.tapestry-labels {
  display: flex;
  height: $tapestry-cell-size * 1.5;
}

.tapestry-label {
  width: $tapestry-cell-size;
  height: $tapestry-cell-size * 1.5;
  border: $tapestry-cell-size / 10 solid $color-bg;
  font-size: 9pt;
  flex-shrink: 0;
  display: flex;
  align-items: end;
  padding-bottom: 0.2rem;
  line-height: 1.4;
}

.tapestry-label--2 {
  width: $tapestry-cell-size * 2;
}

.tapestry-label--3 {
  width: $tapestry-cell-size * 3;
}

.tapestry-label--4 {
  width: $tapestry-cell-size * 4;
}

.tapestry-label--5 {
  width: $tapestry-cell-size * 5;
}

.tapestry {
  display: flex;
  height: $tapestry-cell-size * 7; // Display 7 days (1 week) in one column
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.tapestry-cell {
  width: $tapestry-cell-size;
  height: $tapestry-cell-size;
  background: $color-text;
  color: $color-bg;
  border: $tapestry-cell-size / 10 solid $color-bg;
  font-size: 9pt;
  text-align: center;
  flex-shrink: 0;
}

.tapestry-cell--0 {
  background: $color-bland;
}

.tapestry-cell--1 {
  background: $color-mild;
}

.tapestry-cell--2 {
  background: $color-medium;
}

.tapestry-cell--3 {
  background: $color-hot;
}

.tapestry-cell--4 {
  background: $color-fiery;
}

// Charts
// ----------------------------------------------------------------------------

.charts {
  display: flex;
  margin: 1rem 0;
}

.bar-chart {
  width: 400px;
}
