$color-xxxhot: rgb(255, 0, 0);
$color-xxhot: rgb(255, 51, 0);
$color-xhot: rgb(255, 94, 0);
$color-hot: rgb(255, 138, 43);
$color-medium: rgb(255, 179, 64);
$color-mild: rgb(250, 225, 83);
$color-bland: hsl(0, 0%, 23%);

$color-bg: hsl(0, 0%, 10%);
$color-text: white;
$color-text-code: hsl(194, 73%, 74%);
$color-link: white;
$color-link-visited: $color-medium;
$color-link-active: $color-hot;
$color-link-hover: $color-xhot;
$color-scrollbar-fg: hsl(0, 4%, 49%);
$color-scrollbar-bg: $color-bg;

// Font families
$font-face-body: 'Raleway', sans-serif;
$font-face-mono: 'Roboto Mono', 'Consolas', monospace;

// Font sizes
$font-size-x-small: 8px;
$font-size-small: 12px;
$font-size-regular--mono: 15px;
$font-size-regular: 18px;
$font-size-large: 32px;
$font-size-x-large: 42px;

// Line-heights
$leading-x-compact: 1;
$leading-compact: 1.2;
$leading-regular: 1.6;
